
body {
    background-image: url(https://media.architecturaldigest.com/photos/60a6b0c95c9708ff008d248e/master/w_1600%2Cc_limit/012520Kitchen2520Elevation252025.jpeg);
}

h1 {
    text-align: center;

}

.start {
    background-color: #114b50;
    opacity: 0.8;
    border: 2px solid white;
    color: white;
}

.image {
    opacity: 1.8;

}

img {
    border: 1px solid white;
    margin: 9px 454px;
}

.info {
    text-align: center;

}

.ingredients {
    opacity: 0.8;
    background-color: #efc1a7;
    border: 1px solid white;
    float: left;
    font-size: larger;
}

.ingredients h2 {
    text-align: center;
}

.preparation {
    text-align: center;
    background-color: #87a275;
    border: 1px solid white;
    margin-left: 478px;
    font-size: larger;
    opacity: 0.8;
    height: 338px;
}
.mp{
    background-color: #f0c6b1;
    border: 1px solid white;
    width: 90px;
    margin-left: 18px;
}
.mp:hover{
    opacity: 0.4;
}