  body {
            background-image: url(https://assets.architecturaldigest.in/photos/60ab3a15b872edd1c5ce586f/3:2/w_999,h_666,c_limit/7%20things%20to%20consider%20when%20designing%20a%20modular%20kitchen%202.jpeg);
        }

        h1 {
            text-align: center;

        }

        .start {
            background-color: #101214;
            opacity: 0.8;
            border: 2px solid white;
            color: white;
        }

        .image {
            opacity: 1.8;
           
        }

        img {
            border: 2px solid #0e2e38;
            margin: 9px 454px;
        }

        .info {
            text-align: center;

        }

        .ingredients {
            opacity: 0.8;
            background-color: #6f899e;
            border: 2px solid #0e2e38;
            float: left;
            font-size: larger;
        }

        .ingredients h2 {
            text-align: center;
        }

        .preparation {
            text-align: center;
            background-color: #908e8d;
            border: 2px solid #0e2e38;
            margin-left: 478px;
            font-size: larger;
            opacity: 0.8;
            height: 317px;
        }