
        body {
            background-image: url(https://vegnews.com/media/W1siZiIsIjEzNjIyL2lTdG9jay05MTE0NTg4OTIuanBnIl0sWyJwIiwiY3JvcF9yZXNpemVkIiwiMjExOXgxMjUyKzArMTU5IiwiMTYwMHg5NDZeIix7ImZvcm1hdCI6ImpwZyJ9XSxbInAiLCJvcHRpbWl6ZSJdXQ/iStock-911458892.jpg?sha=325f6ce8c5e3fbe0);
            height: 915px;
            margin-top: -50px;
        }

        h1 {
            background-color: #d7c4a6;
            border: 3px solid black;
            opacity: 0.7;
            margin-bottom: -53px;
            font-size: 60px;
            text-align: center;
            font-family: 'DM Serif Display', serif;
            font-family: 'Estonia', cursive;
            font-family: 'Spectral SC', serif
        }

        #content {

            margin: 85px 646px;
        }

        li {
            list-style: none;
        }

        li a {
            text-decoration: none;
        }

        button {
            font-style: oblique;
            font-size: 25px;
            background-color: #a50310;
            border: 3px solid black;
            border-radius: 12px;
            margin: 50px -75px;
            width: 183%;
            opacity: 0.7;
            color: #ffffff;
        }

        li button:hover {
            color: #d7c4a6;
            opacity: 0.4;
        }