html { 
    background: url(/images/3.jpeg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  *{
      padding: 0;
      margin: 0;
      border: 0;
  }

 

h1 {
    text-align: center;

}
.colored{
    color: #fe9c0e;
}

.start {
    background-color: #3e515fcf;
    opacity: 1.;
    border-bottom: 2px solid white;
    color: #65cc6c;
}


.image {
    height: 22rem;
    width: 33.5rem;
    /* opacity: 1.8; */
    margin: 3.5rem 19rem;
}

img {
    height: 100%;
    width: 100%;
    
}

.info {
    text-align: center;
    color: #f7f9fc;

}

.ingredients {
    padding: 0.5rem;
    background-color: rgb(27 81 124 / 45%);
    border-right: 1px solid white;
    float: left;
    color: white;
    font-size: larger;
    height: 22rem;
}

.ingredients h2 {
    text-align: center;
}

.preparation {
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(144 116 95 / 82%);
    /* border: 2px solid black; */
    /* margin-left: 0rem; */
    color: white;
    /* float: right; */
    font-size: large;
    height: 22rem;
}
.container{
    
    border-top: 4px solid white;
}
.mp{
    background-color: #8f7a64;
    border: 1px solid white;
    width: 90px;
    margin-left: 18px;
}
.mp:hover{
    opacity: 0.4;
}
footer{
    height: 2rem;
    background-color: #201a17f5;
    border-top: 2px solid white;
}